################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OOP_FinalProject/FileContentIndex/411c4139-4918-47ab-8beb-33c15358bed8.vsidx
/.vs/OOP_FinalProject/FileContentIndex/63cc6e40-677b-4553-9cbb-897e78f332b3.vsidx
/.vs/OOP_FinalProject/FileContentIndex/6dab0ff3-be31-4eb8-981b-ac79f82d7081.vsidx
/.vs/OOP_FinalProject/FileContentIndex/857409a3-aa1d-4dc8-94d7-6c753e6afe2a.vsidx
/.vs/OOP_FinalProject/FileContentIndex/fd145c6b-f15c-443f-a92a-c8950e08d1fd.vsidx
